<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TryTest" verbose="1">
    <test name="TryTest">
        <parameter name="url" value="https://www.periplus.com/"/>
        <parameter name="email" value="salmanalfa095@gmail.com"/>
        <parameter name="password" value="per1plu$LMN"/>
        <parameter name="bookTitle1" value="Why Nations Fail"/>
        <parameter name="bookTitle2" value="Atomic Habits"/>
        <classes>
            <class name="test.ShoppingCartTest"/>
        </classes>
    </test>
</suite>